<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mywebsite</title>
    <h2>Contratulations to huy</h2>
    <div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    </div>
</head>
<body>
<p>Huy made her first website today</p>
<strong>it is how it is!</strong>
<p>this is happening live today at the STELCO Building, Maldives.
She's sitting right here next to me. Let's hear how she's feeling.</p>
<p>"how are you feeling right now, huy?"</p>
<strong>"sleepy.."</strong>
<p>"how do you feel about your success?"</p>
<strong>"nothing"</strong>
<p>"oh i'm sorry you had to hear- wait it seems like she has more to say"</p>
<strong>"I'm very happy I learned something here,
    all my thanks must go to you for bringing me here,
    and introducing me to django girls, I guess they deserve a bit of my
    gratitude too, but honestly i give all my thanks to the most
    wonderful and lovely you! Thank you from all my heart!"</strong>
<p>"it seems like today's main topic now is me, yes yes i accept all your roses
you are welcome huy"</p>
</body>
</html>